In [2]:
import sqlite3
con = sqlite3.connect("tutorial.db")

In [3]:
cur = con.cursor()

In [4]:
cur.execute("CREATE TABLE movie(title, year, score)")

In [7]:
res = cur.execute("SELECT name FROM sqlite_master")
res.fetchone()

('movie',)

In [10]:
cur.execute("""
    INSERT INTO movie VALUES
        ('Monty Python and the Holy Grail', 1975, 8.2),
        ('And Now for Something Completely Different', 1971, 7.5)
""")
con.commit()

In [11]:
res = cur.execute("SELECT * FROM movie")
res.fetchone()

('Monty Python and the Holy Grail', 1975, 8.2)

In [12]:
res.fetchone()

('And Now for Something Completely Different', 1971, 7.5)

In [13]:
data = [
    ("Monty Python Live at the Hollywood Bowl", 1982, 7.9),
    ("Monty Python's The Meaning of Life", 1983, 7.5),
    ("Monty Python's Life of Brian", 1979, 8.0),
]
cur.executemany("INSERT INTO movie VALUES(?, ?, ?)", data)
con.commit()

In [14]:
con.close()